.section {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
  user-select: none;
  & ul {
    columns: 3 320px;
    column-gap: 30px;
    margin: 15px 0 40px;
    padding: 0;
  }
  & li {
    margin: 0 0 10px;
    font-size: 18px;
    list-style: none;
    break-inside: avoid-column;
  }
}
.carousel {
  position: relative;
}
.list {
  display: flex;
  overflow-x: scroll;
  align-items: center;
  height: min(calc(100vw * 2 / 3), 400px);
  background-color: var(--color-green-900);
  scroll-snap-type: x mandatory;
  &::-webkit-scrollbar {
    height: 0;
  }
}
.image {
  object-fit: contain;
  max-width: 100vw;
  height: 100%;
  scroll-snap-align: center;
}
.nav {
  position: absolute;
  top: 50%;
  display: flex;
  opacity: 1;
  align-items: center;
  padding: 30px 10px;
  color: white;
  transition: opacity 0.25s;
  transform: translateY(-50%);
  & svg {
    width: 64px;
    height: 64px;
  }
  &_left {
    left: 0;
    padding-right: 30px;
  }
  &_right {
    right: 0;
    padding-left: 30px;
  }
  &_hide {
    opacity: 0;
    pointer-events: none;
  }
}

@media (max-width: 530px) {
  .nav {
    height: 100%;
    & svg {
      width: 24px;
      height: 24px;
    }
  }
}
