.hero {
  display: flex;
  width: 100%;
  height: calc(min(100vh, 1080px) + 80px);
  margin-top: -200px;
  background-image: url("/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (max-width: 530px) {
  .hero {
    background-image: url("/hero-mobile.jpg");
  }
}
