.logo {
  display: flex;
  height: 50px;
  object-fit: contain;
  object-position: 0;
  margin-right: 20px;
}

@media (max-width: 530px) {
  .logo {
    width: 100%;
    padding: 10px 0;
    font-size: 30px;
  }
}
