:root {
  --color-green-100: #fef9d7;
  --color-green-200: #e0e6b3;
  --color-green-300: #c4cea1;
  --color-green-700: #4b6142;
  --color-green-900: #090c08;
  --color-brown-100: #f9ebc7;
  --color-brown-200: #cf9963;
}
html,
body {
  margin: 0;
  padding: 0;
  color: var(--color-green-900);
  font-family: "Barlow Condensed", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
* {
  box-sizing: border-box;
}
